/**
 * Wofi Synthwave 84
 * https://github.com/ricardobarantini/wofi-synthwave
 */
window {
    margin: 0px;
    border: 1px solid #372b3d;
    background-color: #2a2139;
}

#input {
    margin: 5px;
    border: 1px solid rgba(255, 126, 219, 0.6);
    color: #ff7edb;
    background-color: #2a2139;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2a2139;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: #2a2139;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry > * {
    color: #f8f8f2;
    padding: 8px;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.2);
}

#entry:selected #text {
    font-weight: regular;
}
